

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 10rem); /* Adjusted for header and footer */
}

.carousel {
    position: relative;
    width: 50vw;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    text-align: center;
}

.carousel-item img {
    
    max-height: 70vh;
    width: 50vw;
    object-fit: cover;
}

.carousel-item h2 {
    margin: 10px 0;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.prev { left: 0; }
.next { right: 0; }

.appointment-button {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    padding: 8px 16px;
    background-color: #87A99C;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.appointment-button:hover {
    background-color: #87A99C;
}

@media (max-width: 768px) {
    .carousel {
        width: 90vw;
    }

    .carousel-item img {
        width: 90vw;
        max-height: 50vh;
    }

    .btn {
        padding: 8px;
        font-size: 16px;
    }

    .appointment-button {
        font-size: 16px;
        padding: 6px 12px;
    }
}

